.sidenav {
    width: 58px;
    background-color: var(--main-white);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    box-shadow: 5px 2px 2px rgba(20, 20, 20, 0.4);
    padding-top: 1em;

}

.sidenav__li {
    list-style: none;
    color: #b2b3c4;
    margin: 3px 0;
    margin-left: 3px;
    padding: 10px;
    width: 20px;
    text-align: center;

    &:hover {
        cursor: pointer;
        background-color: rgba(1, 208, 222, 0.1);
        border-radius: 8px;
        box-shadow: 3px 9px 4px rgba(1, 208, 222, 0.1);
        transform: scale(1.1);
    }
}

.sidenav__li--active {
    background-color: var(--main-green) !important;
    border-radius: 8px;
    color: var(--main-white) !important;
    box-shadow: 3px 9px 4px rgba(1, 208, 222, 0.1);

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .sidenav {
        flex-direction: row;
        height: 50px;
        width: 100vw;
        box-shadow: none;
        margin-top: -120px;
        z-index: 4000;
        justify-content: center;
    }
}