.memberTypeIcon {
    border-radius: 6px;
    font-size: 7px;
    padding: 3px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.memberTypeIcon__text {
    margin: 0;
    padding: 0;
}